* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Anton', sans-serif;
}
.background {
    background-image: url("earth.jpg");
    background-size: cover;
    height: 100vh;
    position: relative;
    background-position: center;
}

.testo {
    color: white;
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,0.5);
    padding: 20px;
    text-align: center;
}